@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    font-family: 'Varela Round', sans-serif !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    
}
.hero-img{
    background: url("../assets/backgrounds/h_img.jpg");
    background-position:  center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
}
.hero-text{
    color: white;
}
.about-us{
    min-height: 25vh;
    width: 100vw;
    padding: 2%;
}
.services-img{
    background: url("../assets/backgrounds/s_image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    min-height: 75vh;
    width: 100vw;
}
.services-text{ 
    padding: 10%;
    min-height: 50vh;
    width: 100vw;
    color: white;
}
.what-we-do{
    height: 25vh;
    width: 100vw;
    margin: 5%;
}
.design, .dev, .product{
    margin: 10%;
    padding: 2%;

}
.portfolio{
    padding-right: 5%;
}
.contact-bg{
    background: url("../assets/backgrounds/c_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    color: white;
    text-align: center;
}
textarea, input{
    background: transparent !important;
    color: white;  

}
textarea:focus, input:focus{
    color: white
}

.form-control::placeholder{
    color: white;
}








@media (max-width: 786px) {


}
 

