@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    font-family: 'Varela Round', sans-serif !important;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;   
}
.hero-img{
    background: url("../assets/backgrounds/h_img.jpg");
    background-position:  center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-text{
    color: white;
    padding-top: 15%;
}
#scroll{
    animation: updown 500ms infinite alternate;
}
@keyframes updown { 
    0%{
        transform: translate(0px,10px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
.about-us{
    padding: 2%;
}
.services-img{
    background: url("../assets/backgrounds/s_image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}
.services-text{ 
    padding: 10%;
    color: white;
}
figcaption{
    font-weight: bold;
    margin: 0;
}
.design-description{
    display: none;
    text-align: center;
}
.dev-description{
    display: none;
    text-align: center;
}
.product-description{
    display: none;
    text-align: center;
}

.description-show{
    display: block;
    cursor: pointer;
}
.portfolio{
 margin: 5%
}
.col-md-3 img{
    max-width: 100%;
}
.hover-effect{
background-color: rgb(226, 226, 226);
opacity: .2;
}

.contact-bg{
    background: url("../assets/backgrounds/c_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
textarea, input{
    background: transparent !important;
    color: white;  
}
textarea:focus, input:focus{
    color: white
}
.form-control::placeholder{
    color: white;
}








@media (max-width: 786px) {


}
 

