@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body{
    font-family: 'Varela Round', sans-serif !important;
    box-sizing: border-box;
    
}
.hero-img{
    background: url("../assets/backgrounds/h_img.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
}
.hero-text{
    color: white;
    padding-top: 40vh;
}
.about-us{
    padding: 15vh;
}
.services-img{
    background: url("../assets/backgrounds/s_image.jpg");
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
}
.services-text{ 
    color: white;
    padding-top: 20vh;
}
.design{
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 10vh;
}
.dev{
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 10vh;
}
.product{
    margin-left: 30vh;
    margin-right: 30vh;
    margin-bottom: 10vh;
}

@media (min-width: 576px) {
    
}





